<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Recommendations</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Fashion Recommendations for {{ class_name }}</h1>
        <h2 class="my-3">Image Recommendations</h2>
        <div class="row">
            {% for image in images %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="{{ url_for('recommendations_img', filename=image) }}" class="card-img-top" alt="Fashion image">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.card img').hover(function() {
                $(this).css('transform', 'scale(1.1)');
                $(this).css('transition', 'transform 0.5s ease');
            }, function() {
                $(this).css('transform', 'scale(1)');
            });
        });
    </script>
</body>
</html>
